:root{
    --primary: #212429;
    --secondary: #ffffff;
    --primary-font: 'Montserrat', sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

h1::first-letter{
    font-size: 38px;
}

body{
    display: flex;
    justify-content: center;
    align-items: start; /* Para evitar que se estire verticalmente */
    width: 100%;
    font-family: var(--primary-font);
    
}

main {
    max-width: 1280px;
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
    padding: 4rem;
}

.container-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container-item:first-child{
    animation: fade-in 1s linear forwards;
    opacity: 0;
}

.container-item:nth-child(2){
    animation: fade-in 1s 0.3s linear forwards;
    opacity: 0;
}

.container-item:nth-child(3){
    animation: fade-in 1s 0.6s linear forwards;
    opacity: 0;
}
.container-item:nth-child(4){
    animation: fade-in 1s 0.6s linear forwards;
    opacity: 0;
}
.container-item:nth-child(5){
    animation: fade-in 1s 0.6s linear forwards;
    opacity: 0;
}
.container-item:nth-child(6){
    animation: fade-in 1s 0.6s linear forwards;
    opacity: 0;
}

@keyframes fade-in { 
	from { 
		opacity: 0;
	} 
	to { 
		opacity: 1;
	} 
}

.container-item img:hover{
    -webkit-box-shadow: 0px 0px 54px -14px rgba(33,36,41,1);
    -moz-box-shadow: 0px 0px 54px -14px rgba(33,36,41,1);
    box-shadow: 0px 0px 54px -14px rgba(33,36,41,0.5);
    transform: scale(105%);
    transition: all 0.3s ease-in-out;
    
}

.container-item img{
    border-radius: 15px;
}

.item-info{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 14px;    
}

.item-price {
    font-weight: bold;
}

